@font-face {
    font-family: "JMH Cthulhumbus Arcade";
    src: url(../fonts/Cthulhumbus.ttf); /*URL to font*/
}

@font-face {
    font-family: "Repeat Until False";
    src: url(../fonts/REPEATUNTILFALSE.ttf); /*URL to font*/
}

@font-face {
    font-family: "Terminal Grotesque";
    src: url(../fonts/terminal-grotesque.ttf); /*URL to font*/
}

html {
    min-width: 100%;
    min-height: 100%;
  }
a:link, a:visited {
    text-decoration: none;
}

a:hover{
    color:#ffd000;
}  
body {
    width: 400px;
    font-family: "Terminal Grotesque";
    margin: 0;
  }
body span, body span a:link, body span a:visited {
    color: #818181;     
}
body dl dt{
    color: #818181;    
    padding-top: 3px;
    padding-bottom: 3px;
}
body dl dd{
    color: #000000;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #bebebe;    
}
.name{
    color: #e76f9d;    
}
.classification{
    color:    #f19e44;    
}
.provenance{
    color: #a1b927; 
}
.description{
    color: #63b2eb;    
}
.content{
    color: #818181;  
    text-align: center;
}
iframe {
    display: block;
    border-style:none;
    margin: 0 auto;
    width:100%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
* {
    box-sizing: border-box;
  }
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
    .left-column{
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .right-column{
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .column{
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
  } 